@import './base.css';

#app {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
  a {
    text-decoration: none;
  }
  main {
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    .main-container {
      background-color: var(--color-background);
      .view-layout {
        background-color: #fff;
        border-radius: 4px;
        min-height: 100%;
        padding: var(--ui-padding);
      }
    }
  }

  .action-button {
    text-transform: none;
  }

  .the-footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    background-color: var(--color-background);
    width: 98%;
    margin: 0 auto;
  }

  .global-dialog {
    color: red;
    .v-card {
      .v-card-item {
        background-color: red;
      }
    }
  }
}
